@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

.App {
  margin-top: 50px;
  font-family: "Red Hat Text", sans-serif;
}

.allcards {
  width: 80%;
  float: left;
}
ul {
  padding: 0px;
}
.selectedcart {
  width: auto;
}
img {
  width: 100%;
  height: 100%;
}
.card {
  display: flex;
  float: left;
  flex-wrap: wrap;
  padding: 5px;
  width: 30%;
  height: 30%;
  border-style: none;
}
