@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

.App {
  margin-top: 50px;
  font-family: "Red Hat Text", sans-serif;
}

.allcards {
  width: 80%;
  float: left;
}
ul {
  padding: 0px;
}
.cart {
  width: auto;
}
img {
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
}

.card {
  display: flex;
  float: left;
  flex-wrap: wrap;
  padding: 5px;
  width: 30%;
  height: 100%;
  border-style: none;
  align-items: center;
  justify-content: center;
  // position: relative;
}
.firstButton {
  position: absolute;
  top: 62%;
  left: 26%;
  width: 50%;
  border-radius: 18px;
  padding: 5px 15px 5px;
  color: hsl(14, 86%, 42%);
  // transform: translate(-50%, -50%);
}
.secondButton {
  position: absolute;
  top: 62%;
  left: 26%;
  width: 50%;
  border-radius: 18px;
  padding: 5px 15px 5px;
  background-color: hsl(14, 86%, 42%);
  color: white;
}
.decSvg {
  width: 13px;
  height: 13px;
  float: left;
  margin-top: 7px;
  border: 0.5px solid white; /* Border color and width */
  border-radius: 50%; /* Makes the border round */
  overflow: visible;
  box-sizing: border-box;
  padding: 1px;
}
.incSvg {
  width: 13px;
  height: 13px;
  float: right;
  margin-top: 7px;
  border: 0.5px solid white; /* Border color and width */
  border-radius: 50%; /* Makes the border round */
  overflow: visible;
  box-sizing: border-box;
  padding: 1px;
}
.item-details {
  padding-top: 5px;
  float: left;
  align-self: normal;
}

@media screen and (max-width: 1400px) {
  .firstButton {
    position: absolute;
    top: 62%;
    left: 26%;
    // transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 1200px) {
  .firstButton {
    position: absolute;
    top: 58%;
    left: 26%;
    // transform: translate(-50%, -50%);
  }
}
